.number{
    height: 100%;
    display: flex;
    flex: 1 1; /*Sirve para definir entre cuanto se puede distribuir el ancho segun el numero de elementos que haya */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    background-color: #C1E8FF;
    cursor:pointer;
    margin: 2%;
    border: 2px solid #5483B3;
    border-radius: 20px;
    color: black;
    user-select: none;
}


.number:hover{
    color: rgb(41, 16, 48);
    background-color: rgb(207, 206, 206);
    border-color: rgb(233, 167, 167);
}