.delete{
    height: 100%;
    display: flex;
    flex: 1 1; /*Sirve para definir entre cuanto se puede distribuir el ancho segun el numero de elementos que haya */
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(29, 24, 105);
    cursor:pointer;
    margin: 2%;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    user-select: none;
}


.delete:hover{
    color: rgb(41, 16, 48);
    background-color: rgb(206, 95, 95);
    border-color: rgb(233, 167, 167);
}